<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>
    <!-- <div class="input-group">
        <div class="input-group-appen">
            <span class="input-group-text" id="basic-add">
                <span class="fa fa-search"></span>
            </span>
        </div>
        <input autofoucs placeholder="search" class="form-action" type="text" autocomplete="off" name="search"
            id="search" />

    </div>
    <ul class="list-group" id="list"></ul> -->

    <h1>
        Upload a file
    </h1>

    <form method="POST" enctype="multipart/form-data" action="/">
        <input type="file" name="filename">
        <input type="submit" value="upload">
    </form>

    <!-- <script src="./script.js"></script> -->

</body>

</html>